@font-face
  font-family 'iconfont-nav'
  src url('~@/assets/icons/iconfont-nav.ttf?t=1623207619177') format('truetype')
@font-face
  font-family 'iconfont-nav'
  src url('~@/assets/icons/iconfont-search.ttf?t=1623219779669') format('truetype')


.my-icon {
  font-family: 'iconfont-nav';
}

.my-icon-movie::before {
  content: '\e502';
}
.my-icon-theater::before {
  content: '\e518';
}
.my-icon-profile::before {
  content: '\e501';
}







.movie-icon
  font-family 'iconfont-nav' !important
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  vertical-align middle
